* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background-image: radial-gradient(circle farthest-corner at 50.4% 50.5%, rgba(251, 32, 86, 1) 0%, rgba(135, 2, 35, 1) 90%); */
  background-image: radial-gradient(circle 1250px at 85% 15%, rgba(12, 85, 141, 1) 31%, rgba(205, 181, 93, 1) 36%, rgba(244, 102, 90, 1) 51%, rgba(199, 206, 187, 1) 60.7%, rgba(249, 140, 69, 1) 72%, rgba(12, 73, 116, 1) 72.6%);
  color: white;
  background-attachment: fixed;
  font-family: 'Karla', sans-serif;
  line-height: 1.3;
  min-height: 100vh;
  margin: 0;
  /* padding: 20px; */
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}

/* Start Page */
.start--main {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2.5rem;
  margin-top: 5vh;
}

.start--quiz--container {
  background-image: linear-gradient(#42A1EC, #00335c);
  border-bottom: 1px solid black;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.start--title {
  margin: 1rem 0 0 0;
  letter-spacing: 3px;
}

.start--selection--main--container {
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
  min-width: 80%;
}

.start--description {
  margin: 1rem 1rem 0 1rem;
  align-self: center;
}

.start--selection--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 85%;
  margin: 1rem;
}

.start--selection--container label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.start--selection--container select {
  background-color: rgb(222, 227, 238);
  border-radius: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.55rem;
  text-align: right;
  padding-right: 0.25rem;
  margin: 0.25rem 0.5rem;
}

/* Question Page */
.question--info {
  display: flex;
  justify-content: center;
}

.question--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question--container {
  min-width: 60%;
  max-width: 85%;
  margin: 2.5rem;
  margin: 1rem 2.5rem 0.5rem 2.5rem;
  text-align: center;
}

.question--card {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(#42A1EC, #023c6c);
}

.voidImage {
  margin-top: 1.5rem;
  max-width: 25%;
}

.question--text {
  border-bottom: 2px solid rgb(225, 224, 224);
  font-size: 1.6rem;
  margin-bottom: 5px;
  /* padding: 0.5rem; */
}

.question--text .fa-regular {
  margin-right: 1rem;
}

.question--answers {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  font-size: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 10px;
}

.questionPage--button--container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.questionPage--minorButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  width: 100%;
}

/* REPORT CARD */
.report--card--main {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(#42A1EC, #023c6c);
  position: fixed;
}

.report--card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report--card--body {
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  margin-top: 0.5rem;
  min-width: 80%;
}

/* FOOTER */
.footer--main {
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 1.5rem 0 1.5rem;
}

.footer--container {
  box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.footer--text {
  margin: 5px;
}

.footer--main a {
  color: white;
  text-decoration: none;
}

/* Buttons */
.btn {
  width: auto;
  background-image: linear-gradient(#42A1EC, #0070C9);
  /* border: 1px solid #0077CC; */
  border: 1px solid #2da4fa;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: .2rem;
  font-family: 'Karla', sans-serif;
  margin: 0 1rem;
  padding: 4px 15px;
  text-align: center;
}

.btn--start {
  font-weight: bold;
}

.btn--start:active,
.btn--check--ans:active,
.btn--other:active,
.btn--other--left:active,
.btn--other--right:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.btn:focus {
  /* box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px; */
  outline: none;
}

.btn:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.btn--ans {
  height: auto;
  width: auto;
  min-width: 40%;
  margin: 6px;
}

.btn--ans:hover {
  text-decoration: underline;
}

.btn--check--ans {
  font-weight: bold;
  height: auto;
  width: 100%;
}

.btn--other--left {
  margin: 0 1rem 0 0;
  width: 45%;
}

.btn--other--right {
  margin: 0 0 0 1rem;
  width: 45%;
}

